# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#{logs}#
Jenkins/JENKINSFILE

# RabbitMq Testing
copy.xlsx
sampledata.xlsx
covid_19_data.xlsx
covid_19_data_big.xlsx

# Npm/Yarn Extras
yarn-error.log

# Login Scripts 
artLogin.sh

# Sonar-Scanner
.scannerwork

# Jest Report
test-report.xml
junit.xml

# Kube-Config
.kube/

rbmq.json
.env.local
.dccache
